.form-add{
    //background-color: rgba(57,231,236,0.3);
    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
    padding: 20px;

    &__item {
        padding: 10px;
        border: none;
        border-radius: 5px; 
    }

    input[type=file]::file-selector-button {
        padding:10px;
        align-self: center;
        background-color: #b9e7e7;
        border-radius: 5px;
        border: none;
        &:hover {
            color: teal;
            background-color: white;
            border: 1px solid teal;
        }
        transition: 1s;
      }

    h1{
        align-self: center;
    }

    button{
        width: 50%;
        align-self: center;
        background-color: #b9e7e7;
        border-radius: 5px;
        border: none;
        &:hover {
            color: teal;
            background-color: white;
            border: 1px solid teal;
            transition: 1s;
        }
    }
}

