$lightGreen : #b9e7e7;

.post-page{
    background-color: black;
    
    
    &__btn {
        padding:10px;
        background-color: $lightGreen;
        background-size: cover;
        width: 70px;
        height: 70px;
        border-radius: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: dimgray;
        border: 1px solid white;
        &:hover{
            color: dimgray;
            background-color: white;
            border: 1px solid teal;
        }
        
    }
    .nav{
        background-image: url('./../../images/navigate.png');
    }

    

    .image{
        height:400px;
        display: flex;
        overflow:hidden;
        border-radius: 10px;

        img{
            object-fit: cover;
            object-position: center center;
            width: 100%;
            }
        
    }

    

    a{
    color:#333;
    text-decoration: underline;
    }

    h1{
        text-align: center;
        margin: 10px 0 10px;
    }

    time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
    }

    .author{
        text-align: center;
        margin-bottom: 20px;
        font-size: .7rem;
        font-weight: bold;
    }

    .content {

        p{
            line-height: 1.7rem;
            margin: 30px 0;
            width: 100%;
            height:30%;
            text-align: center;
            
        }
    
        li{
            margin-bottom: 10px;
        }
    }

    &__buttons {
        display:flex;
        justify-content: space-around;

    }
    

}

 




div.edit-row{
    text-align: center;
    margin-bottom: 20px;
}
.edit{
        padding:10px;
        background-color: $lightGreen;
        //background-image: url('./../../images/navigate.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: white;
        border: 1px solid white;
        &:hover{
            color: dimgray;
            background-color: white;
            border: 1px solid teal;
        }
}
a svg{
    height:20px;
}

.buy-btn{
    background-color: $lightGreen;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: teal;
    border: 1px solid white;
    &:hover{
        color: dimgray;
        background-color: white;
        border: 1px solid teal;
    }
}