
.about-us {
    
    display: flex;
    align-items: center;
    //background:rgba(255,255,255, 0.3);
    padding: 60px;
    background: #130F0D;
    width: 1500px;
    
  
    > div {
      width: 50%;
    }
  
    &--text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      
      p {
        width: 70%;
        font-size: 2.2rem;
        line-height: 2em;
      }
  
    }
  
    &--image {
      img {
        width: 100%;
        height: auto;
        border-radius: 2%;
      }
    }
  }