.contact{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
    padding-bottom: 20px;


    &__item {
        padding: 10px;
        border-radius: 5px;
        border: none;
    }
    h1{
        align-self: center;
    }

    button{
        width: 50%;
        align-self: center;
        background-color: #b9e7e7;
        border-radius: 5px;
        &:hover {
            color: teal;
            background-color: white;
            border: 1px solid teal;
        }
    }
}