.post{
    display: flex;
    flex-direction: column;
    background:white;
    box-shadow: 5px 5px 40px -5px whitesmoke;
    width: 350px;
    height: 300px;
    border-radius: 1px;
    border: 1px solid #5DF17E;
    margin-bottom: 40px;
    

    .texts{
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: top;
        font-weight: 700;
        padding-left: 20px;
        h2{
            margin-top:20px;
            font-size: 1.2rem;
            
            text-align: start;
        }
        a{
            text-decoration:none;
            color: inherit;
        }
        
    }
    p.info{
        color: gray;
        font-size:1rem;
        font-weight: bold;
        display: flex;
        gap: 10px;
    }
    
    p.info a.author{
        color:#333;
    }
    p.summary{
        margin:10px 0;
        line-height: 1.8rem;
    }
    
}
.image img{
    width:100%;
    height: 110%;
    
    
}




.remove-btn{
    align-self: center;
    padding:5px;
    border-radius: 5px;
    background-color: gold;
}
